@use "../../css-toolkit/modules/layout" as layout;
@use "../../css-toolkit/modules/reset" as reset;
@use "../../css-toolkit/modules/ql" as ql;
@use "../../css-toolkit/base.scss" as *;

// apply reset
@include reset.reset;

:root {
    --bg-color: hsl(225, 100%, 94%);
    --bg-card: hsl(0, 0%, 100%);
    --bg-pricing-box: hsl(228, 100%, 99%);
    --blue-box-shadow: 0 40px 40px -20px hsla(228, 87%, 39%, 0.15);
    --heading-font-color: hsl(223, 46%, 23%);
    --default-font-color: hsl(224, 23%, 55%);
    --blue-button-background: hsl(245, 75%, 52%);
    --blue-button-text: hsl(0, 0%, 100%);
    --blue-button-hover-bg: hsl(245, 83%, 68%);
    --blue-button-box-shadow: 0 20px 20px 0 hsla(245, 75%, 52%, 0.19);
}

$bg_color: var(--bg-color);
$bg_card: var(--bg-card);
$bg-pricing-box: var(--bg-pricing-box);
$heading-color: var(--heading-font-color);
$text-default-color: var(--default-font-color);
$blue-button-text: var(--blue-button-text);
$blue-button-bg: var(--blue-button-background);
$blue-button-hover-bg: var(--blue-button-hover-bg);
$blue-button-box-shadow: var(--blue-button-box-shadow);

/* styles */
body {
    // Background
    background-image: url("assets/images/pattern-background-desktop.svg");
    background-position-x: center;
    background-repeat: repeat-x;
    background-size: auto min(52vw, px2rem(437));
    background-clip: border-box;
    background-color: $bg_color;
    //Layout
    @include layout.flex(column);
    align-items: center;
    justify-content: center;
    padding: px2rem(71) px2rem(24);
    min-height: 100dvh;
    // Default Typography
    color: $text-default-color;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
}

.card {
    // Background
    background-color: $bg_card;
    // Layout
    max-width: px2rem(450);
    // Appearance
    border-radius: px2rem(20);
    // Effects
    box-shadow: var(--blue-box-shadow);

    img.card-header {
        // Layout
        min-height: px2rem(160);
        object-fit: cover;
        // Appearance
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    .card-body {
        //Layout
        //padding-top: clamp(px2rem(32), 8.5vw, px2rem(45));
        padding-top: ql.linear-func-clamp(32, 375, 45, 500);
        padding-bottom: ql.linear-func-clamp(32, 375, 48, 500);;
        padding-left: ql.linear-func-clamp(24, 375, 48, 500);
        padding-right: ql.linear-func-clamp(24, 375, 48, 500);
    }

    .summary-container {
        //Layout
        $padding-lr-val: ql.linear-func-clamp(0, 500, 8, 375);
        @include layout.flex(column);
        gap: px2rem(16);
        padding: 0 $padding-lr-val;
    }

    .pricing-container {
        //Layout
        @include layout.flex(column);
        gap: ql.linear-func-clamp(24, 375, 32, 500);
        padding-top: ql.linear-func-clamp(20, 500, 24, 375);
    }

    .title {
        color: $heading-color;
        font-size: ql.linear-func-clamp(22, 375, 28, 500);
        font-weight: 900;
        text-align: center;
    }

    p {
        font-size: ql.linear-func-clamp(15, 375, 16, 500);
        font-weight: 500;
        line-height: ql.linear-func-clamp(25, 375, 26, 500);
        text-align: center;
    }

    .pricing-plan-box {
        // Background
        background-color: $bg-pricing-box;
        //Appearance
        border-radius: px2rem(11);
        //Layout
        @include layout.flex(row);
        flex-wrap: wrap;
        align-items: center;
        $padding-lr-val: ql.linear-func-clamp(16, 375, 24, 500);
        $padding-td-val: ql.linear-func-clamp(17, 375, 25, 500);
        padding: $padding-td-val $padding-lr-val;

        .price {
            //Layout
            @include layout.flex(column);
            gap: ql.linear-func-clamp(2, 375, 6, 500);
            flex-grow: 1;
            padding-left: ql.linear-func-clamp(0, 250, 20, 375);
            //Typography
            font-size: ql.linear-func-clamp(14, 375, 16, 500);
            font-weight: 500;

            h2 {
                color: $heading-color;
                font-size: 1em;    
                font-weight: 900;
            }
        }
    }

    .btn-base {
        // Background
        background-color: unset;
        // Appearance
        border: none;
        border-radius: px2rem(11);
        //Layout
        padding: 0 px2rem(1);
        //Typography
        color: inherit;
        font-size: px2rem(15);
        font-weight: 900;

        &:hover {
            color: $heading-color;
            cursor: pointer;
        }
    }

    .btn-blue {
        //Background
        background-color: $blue-button-bg;
        //Layout
        padding: px2rem(15);
        //Typography
        color: $blue-button-text;
        //Effects
        box-shadow: $blue-button-box-shadow;

        &:hover {
            background-color: $blue-button-hover-bg;
            color: $blue-button-text;
        }
    }

    .btn-price-change {
        //Typography
        color: $blue-button-bg;
        font-size: ql.linear-func-clamp(13, 375, 14, 500);
        font-weight: 700;
        text-decoration: underline;

        &:hover {
            color: $blue-button-hover-bg;
        }
    }
}